fitimage_load_addr=0x2800000
fit_status_addr=0x2800004
fit_active_partition_addr=0x2800008

rootfs_status_addr=0x280000c
rootfs_active_partition_addr=0x2800010

tmp_addr=0x2804000
BOOT_SCRATCH=0x544F4F42

TEST_SCRATCH=0x54534554
TESTING_SCRATCH=0x474E4954
NORM_SCRATCH=0x4D524F4E

FIT_A_PART=2
FIT_B_PART=3

ROOTFS_A_PART=5
ROOTFS_B_PART=6

BOOT_FIT_PART=2
BOOT_ROOTFS_PART=5

boot_sequence=fdt addr ${fdt_addr};
                fdt get value bootargs /chosen bootargs;
                mmc dev 0;
                mmc read ${fitimage_load_addr} 400 1;
                mw.l ${tmp_addr} ${BOOT_SCRATCH} 1;
                if cmp.l ${fitimage_load_addr} ${tmp_addr} 1; then \
                    echo "Not First Boot";
                    mw.l ${tmp_addr} ${NORM_SCRATCH} 1;
                    if cmp.l ${fit_status_addr} ${tmp_addr} 1; then \
                        echo "FIT Normal Boot";
                        mw.b ${tmp_addr} ${FIT_A_PART} 1;
                        if cmp.b ${fit_active_partition_addr} ${tmp_addr} 1; then \
                            echo "FIT A Active";
                        else \
                            echo "FIT B Active";
                            setenv BOOT_FIT_PART ${FIT_B_PART};
                        fi;
                    else \
                        mw.l ${tmp_addr} ${TEST_SCRATCH} 1;
                        if cmp.l ${fit_status_addr} ${tmp_addr} 1; then \
                            echo "FIT Test Update Boot";
                            mw.l ${fit_status_addr} ${TESTING_SCRATCH} 1;
                            mw.b ${tmp_addr} ${FIT_A_PART} 1;
                            if cmp.b ${fit_active_partition_addr} ${tmp_addr} 1; then \
                                echo "FIT B Active";
                                setenv BOOT_FIT_PART ${FIT_B_PART};
                            else \
                                echo "FIT A Active";
                            fi;
                            mmc write ${fitimage_load_addr} 400 1;
                        else \
                            mw.l ${tmp_addr} ${TESTING_SCRATCH} 1;
                            if cmp.l ${fit_status_addr} ${tmp_addr} 1; then \
                                echo "Update Failed, Fallback Boot";
                                mw.l ${fit_status_addr} ${NORM_SCRATCH} 1;
                                mw.b ${tmp_addr} ${FIT_A_PART} 1;
                                if cmp.b ${fit_active_partition_addr} ${tmp_addr} 1; then \
                                    echo "FIT A Active";
                                else \
                                    echo "FIT B Active";
                                    setenv BOOT_FIT_PART ${FIT_B_PART};
                                fi;
                            else \

                            fi;
                        fi;
                    fi;

                    mw.l ${tmp_addr} ${NORM_SCRATCH} 1;
                    if cmp.l ${rootfs_status_addr} ${tmp_addr} 1; then \
                        echo "RootFS Normal Boot";
                        mw.b ${tmp_addr} ${ROOTFS_A_PART} 1;
                        if cmp.b ${rootfs_active_partition_addr} ${tmp_addr} 1; then \
                            echo "RootFS A Active";
                        else \
                            echo "RootFS B Active";
                            setenv BOOT_ROOTFS_PART ${ROOTFS_B_PART};
                        fi;
                    else \
                        mw.l ${tmp_addr} ${TEST_SCRATCH} 1;
                        if cmp.l ${rootfs_status_addr} ${tmp_addr} 1; then \
                            echo "RootFS Test Update Boot";
                            mw.l ${rootfs_status_addr} ${TESTING_SCRATCH} 1;
                            mw.b ${tmp_addr} ${ROOTFS_A_PART} 1;
                            if cmp.b ${rootfs_active_partition_addr} ${tmp_addr} 1; then \
                                echo "RootFS B Active";
                                setenv BOOT_ROOTFS_PART ${ROOTFS_B_PART};
                            else \
                                echo "RootFS A Active";
                            fi;
                            mmc write ${fitimage_load_addr} 400 1;
                        else \
                            mw.l ${tmp_addr} ${TESTING_SCRATCH} 1;
                            if cmp.l ${rootfs_status_addr} ${tmp_addr} 1; then \
                                echo "Update Failed, Fallback Boot";
                                mw.l ${rootfs_status_addr} ${NORM_SCRATCH} 1;
                                mw.b ${tmp_addr} ${ROOTFS_A_PART} 1;
                                if cmp.b ${rootfs_active_partition_addr} ${tmp_addr} 1; then \
                                    echo "RootFS A Active";
                                else \
                                    echo "RootFS B Active";
                                    setenv BOOT_ROOTFS_PART ${ROOTFS_B_PART};
                                fi;
                            else \

                            fi;
                        fi;
                    fi;

                else \
                    echo "First Boot";
                    mw.l ${fitimage_load_addr} ${BOOT_SCRATCH} 1;
                    mw.l ${fit_status_addr} ${NORM_SCRATCH} 1;
                    mw.l ${rootfs_status_addr} ${NORM_SCRATCH} 1;
                    mw.b ${fit_active_partition_addr} ${FIT_A_PART} 1;
                    mw.b ${rootfs_active_partition_addr} ${ROOTFS_A_PART} 1;
                    mmc write ${fitimage_load_addr} 400 1;
                fi;
                setenv bootargs "${bootargs} root=/dev/mmcblk0p${BOOT_ROOTFS_PART} rootfstype=ext4 rootwait";
                load mmc 0:${BOOT_FIT_PART} ${fitimage_load_addr} /fitImage;
                bootm ${fitimage_load_addr}#conf-bcm2708-rpi-zero-w.dtb;
distro_bootcmd=run boot_sequence